.searchBox
        position: relative
        text-align: center
        .searchInput
            width: calc(100% - 60px)
            overflow: hidden
            height: 20px
            text-align: center
            padding: 5px 0
            border-radius: 20px
            background-color: $inputBgColor
        .rightIcon
            position: absolute
            height: 15px
            width: 15px
            top: 50%
            transform: translateY(-50%)
            right: 60px
            cursor: pointer
        .searchBtn
            width: 40px
            float: right 
            cursor: pointer
            font-size: $mdfontSize
            font-weight: 700
            color: $themeDeepestColor
    
