.searchBox
        position: relative
        padding: 10px 0
        text-align: center
        .searchInput
            width: 60%
            height: 20px
            text-align: center
            padding: 5px 40px
            border-radius: 20px
            background-color: $inputBgColor
        .rightIcon
            position: absolute
            height: 15px
            width: 15px
            top: 50%
            transform: translateY(-50%)
            right: 18%
            cursor: pointer
        .searchBtn
            float: right 
            cursor: pointer
            font-size: $mdfontSize
            font-weight: 700
            color: $themeDeepestColor
    