.footer
    height: $footerHeight
    bg_color(footer_bgc)
    font_color(footer_color)
    flex-vertical-center(, column)
    .icpNo
        margin: 10px 0
    .runTime
        .runTimeNum
            color: $highlightText
            font-size: $xlfontSize
        
        
