.box
    font_color(page_title_color)
    height: $topTitleHeight;
    flex-vertical-center(,column)
    .title
        font-size: $pageTitleSize
        font-weight: 700
        text_shadow(4px,4px,10px,pageTitleShadow)
    .desc
        margin-top: 50px
        font-size: $pageTitleDescSize