.infoCard
    text-align: center
    .avatar
        width: 120px
        height: 120px 
        border-radius: 50%
    .name
        color: $themeColor
        font-weight: 700
        font-size: $xlfontSize
        margin: 15px 0
    .desc
        color: $secondaryDeepColor
    .infoList
        padding: 5px 20px 
        margin: 12px 0
        flex-vertical-center(space-around)
        my_border(2px,dotted,border_color)
        border-left-width: 0
        border-right-width: 0
        border-top-width: 0
        .headline
            font_color(font_normal_color)
        .num
            margin-top: 5px
            font-size: $mdfontSize
            color: $themeDeepColor
    .socialList
        padding: 0 25px 
        flex-vertical-center(space-around)
        .icon
            width: 15px
            height: 15px

        