.markdownCard
    bg_color(main_bgc)
    font_color(font_normal_color)
    padding: 40px
    border-radius: 20px
    .switch
        padding: 15px 0 
        margin-bottom: 20px
        border-bottom: 4px $themeColor dashed
