.tagCard
    @extend .right-card
    .tagCloud
        display: flex
        flex-wrap: wrap
        span
            padding: 10px
            cursor: pointer
            transition: all 0.5s
            &:hover
                transform: scale(1.2)