bright = {
  name: "bright", 
  nav_bgc:rgba(245, 245, 245,.5),
  nav_color:#00283a,
  mobile_nav_bgc:#f8f8ff,
  font_normal_color:#4c4948,
  font_color_lighter:#858582,
  font_color_lightest:#c3c8cd,
  main_bgc:#fff,
  deep_bgc:#f5f5f5,
  deepest_bgc:#f7f3f3,
  page_title_color:#fff,
  page_title_shadow_color:#fde6e0,
  border_color:#c8c8c0,
  footer_bgc:rgba(255,255,255,.5),
  footer_color:#eee,
  }

dark = {
  name: "dark",
  nav_bgc:#222222,
  nav_color:rgba(255,255,255,0.7),
  mobile_nav_bgc:#222222,
  font_normal_color:#fff,
  font_color_lighter:#dadad3,
  font_color_lightest:rgb(198, 194, 194),
  main_bgc:#000,
  deep_bgc:#222222,
  deepest_bgc:#444141,
  page_title_color:#353535,
  page_title_shadow_color:#b1ac9e,
  border_color:#fff,
  footer_bgc:#222222,
  footer_color:rgba(255,255,255,0.7),
  }

themeList = (bright dark);
