// 变量名可以不以$开头，但是加$更符合本人习惯,scss是:,styl是=还有点不习惯捏
$navHeight=60px
$footerHeight=120px
$topTitleHeight=350px;

$pageTitleSize=60px
$pageTitleDescSize=18px
$mobileNavTitleSize=30px
$postcardTitleSize=28px

$xsfontSize=13px
$smfontSize=14px
$noramlfontSize=16px
$mdfontSize=18px
$xlfontSize=22px
$xxlfontSize=24px

$cardShadowColor=#c0bebe

$inputBgColor=#ebebeb

$inlineCode=#fefbec
$blockquote=#f2d6e5

$navBgcColor=rgba(245, 245, 245,.5)

$highlightText=#f47466
$themeColor=#ffc0cb
$themeDeepColor=#e3a5b0
$themeDeepestColor=#f65fa3

$secondaryColor=#8fb270
$secondaryDeepColor=#89c997
$secondaryDeepestColor=#49d4c6
