.copyRight
    margin-top: 20px
    border: 1px solid #dadce1
    transition: box-shadow .5s
    padding: 10px 0
    &:hover
        box-shadow: 2px 2px 2px #a9aaad
    .author,.link,.notice
        padding: 5px 15px
    .icon
        height: 15px
        fill: $themeColor
        cursor: pointer
    .copyrightMeta
        color: $themeColor
    a
        text-decoration: underline $themeColor