.marked
    max-width: 100%
    white-space: pre-wrap //不加这句话textarea的回车预览就不换行了
    h1,h2,h3,h4,h5,h6
        margin-bottom: 10px
        font-weight: 700
    h1
        font-size: $xxlfontSize
    h2 
        font-size: $xlfontSize
    h3  
        font-size: $mdfontSize
    li
        margin: 0 0 5px 30px
        list-style : disc
    p
        margin-bottom: 10px
        font-size: $noramlfontSize
    code
        display: inline-block
        background-color: $inlineCode
        color: $highlightText
        padding: 5px
        border-radius: 10px
    pre code
        padding: 10px
        margin-bottom: 10px
        line-height: 1.5
        width: 100%
        overflow: auto
        
    p img
        display: inline-block
        max-width: 100%
        margin: 0 auto
        border-radius: 12px
    blockquote 
        background-color: $blockquote;
        padding: 14px 40px;
        font-size: $xlfontSize;
        border-left: 5px solid $themeDeepColor;
    table 
        margin: 20px auto;
        background-color: $themeColor;
        border-spacing: 0; 
        text-align: center;
    table th,
    table td 
        padding: 6px 14px;
  