
.postTop
    position: absolute
    top: 0
    left: 0
    right: 0
    line-height: 400px
    font_color(page_title_color)
    background: url('assets/imgs/back.jpg') no-repeat 
    background-size: 100%
    background-position: center 90%
    z-index: -999
    overflow: hidden
    .postTitle
        font-size: 56px
        font_color(page_title_color)
        text_shadow(5px,5px,5px,pageTitleShadow)
        text-align: center
        height: 100px
    .postMeta
        flex-vertical-center()
        .category
            margin: 0 10px 
        .tags
            .tag
                margin-right: 5px
    
        
        
  