.search
    .line
        position: relative
        height: 0
        margin-top: 20px
        border: 2px dashed $themeDeepColor
        .icon
            position: absolute
            top: -15px
            left: 5%
            fill: $themeDeepColor
    
    
    
    
    
    
     
    
    
    
    
    
    
    